body {
	font-family: helvetica;
}

#previewWindow {
	position: absolute;
	left: 20%;
	width: 60%;
	height: 50%;
	top: 20%;
	background-color: #eee;
	overflow: scroll;
	font-family: courier, monaco;
	color: #000;
}
	

#closePreview {
	position: fixed;
	width: 25px;
	left: 80%;
}

#json {
	float:left;
	width: 80%;
	height: 400px;
	resize: none;
}

#jsonForm {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}
#formTitle {
	width: 15%;
}

#jsonForm input  {
	margin-left: 15px;
}

#labelTitle {
	margin-left: 82%;
	margin-bottom: -2px;
	font-weight: bold;
}

#content {
	width: 100%;
	height: 90%;
}

strong {
	color: #ff0000;
	margin-top: 20px;
	float: left;
}